.popular-destinations-container {
    background-color: #f5f4ed;
    max-width: 1200px;
    margin: 0 auto;
}

.popular-destinations-container > .title {
    padding-top:40px;
    font-size:35px;
    font-weight: bold;
    color:#378d9e;
}

.popular-destinations-container > .sub-title {
    padding-top:20px;
}

.popular-destinations-container > .carousel {
    padding-top:30px;
}

.carousel-slider {
    width: 300px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto !important;
}