.ImageStyles{
background-image: url('./../../img/banner1.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
min-height: 400px;
.container {
    position: relative;
    min-height: 400px;
}
}


