.ContactSectionStyle{
    padding: 10px 0; 
}

.contactSection{
   display: flex;
   justify-content: space-between;
   gap: 200px;
   justify-content: space-between;
   position: relative;
}


.contactSection::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 80%;
    background-color: rgb(145, 145, 145);
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
}

.left{
    width: 100%;
    max-width: 700px; 
    padding: 1rem;
}

.right {
   max-width: 800px;
   width: 100%;
}


@media only screen and (max-width: 768px) {
    .contactSection{
        flex-direction: column;
    }
    .contactSection::after {
        display: none;
    }
    .left, 
    .right {max-width: 100%;
    }
    .right {
        padding: 4rem 2rem 2rem 2rem;
    }
}
