.ContactSectionStyle{
    padding: 10rem 0; 
}

.contactSection{
display: flex;
gap: 5rem;
margin-top: 7rem;
justify-content: space-between;
position: relative;
}

.contactSection::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 50%;
    background-color: rgb(7, 7, 7);
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.left{
    flex: 1;
    width: 100%;
    max-width: 500px;
}

.right {
    max-width: 500px;
    width: 100%;
    border-radius: 12px;
}


@media only screen and (max-width: 768px) {
    .contactSection{
        flex-direction:column;
    }
    .contactSection::after{
        display: none;
    }
    .left, 
    .right {max-width: 100%;
    }
    .right {
        padding: 4rem 2rem 2rem 2rem;
    }
}
