.TitleComponentStyle {
    text-align:center;
}

h1 {
     font-family: 'Arial';
     font-weight: bold;
     color: #2596be;
     font-size: 3rem;
     margin-top: 1.5rem; 
     padding-bottom: 5rem;
}
