.TitleComponentStyle {
    text-align:center;
}

h1 {
     font-family: 'Arial';
     font-weight: bold;
     color: #2596be;
     font-size: 2.5rem;
     margin-top: 1.5rem; 
     padding-bottom: 5rem;
}

@media only screen and (max-width: 768px){
    .TitleComponentStyle{
        font-size: 1.2rem;
    }
    h1 {
        font-size: 3.6rem;
    }
}